{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <img class="logo" src="{{ asset('img/logo.png') }}" alt="logo" />
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="username" class="sr-only">Email address</label>
            <input type="text" id="username" class="form-control" name="_username" placeholder="Email address" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" name="_password" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" > Remember me
                </label>
            </div>
            <p>
                <button class="btn btn-lg btn-inverse btn-block" type="submit" id="_submit" name="_submit" >Sign in</button>
            </p>
        </form>
    </div> <!-- /container -->
{% endblock fos_user_content %}
