{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}Unique Password{% endblock %}

{% block page_title %}Passwords{% endblock %}

{% block page_content %}
    <div id="retrieve_password"></div>
{% endblock %}

{% block javascripts_inline %}
    <script type="text/babel" src="{{ asset('js/retrieve.js') }}"></script>
{% endblock %}